@model TaskFlow.ViewModels.HomeViewModel

<section class="hero text-center py-5">

    <h1 class="display-3 fw-bold">
        @Model.Title
    </h1>

    <p class="lead mt-3">
        @Model.Subtitle
    </p>

    <div class="mt-4">

        <a class="btn btn-primary btn-lg">
            Começar Agora
        </a>

        <a class="btn btn-outline-dark btn-lg ms-2"
           href="https://github.com"
           target="_blank">

            GitHub

        </a>

    </div>

</section>