html {
  font-size: 14px;
}

:root {
    --primary: #7C3AED;
    --primary-dark: #5B21B6;
    --secondary: #A78BFA;
    --background: #F8FAFC;
    --surface: #FFFFFF;
    --text: #1F2937;
    --text-light: #6B7280;
    --success: #22C55E;
}


.hero {
    padding-top: 120px;
    padding-bottom: 120px;
}

    .hero h1 {
        font-weight: 700;
    }

    .hero p {
        color: #6b7280;
        font-size: 1.2rem;
        max-width: 700px;
        margin: auto;
    }

.btn-primary {
    background: #7C3AED;
    border: none;
}

    .btn-primary:hover {
        background: #6D28D9;
    }

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}